* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    background-image: url(../img/rabstol_net_new_year_139.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celebration__img-wrap {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.celebration__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.celebration__content {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: white;
    background-color: rgb(41, 99, 166);
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px 50px;
}

.btn-block {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
}